.container-best-seller {
    width: 100%;
    display: flex;
    justify-content: start;
    background-image: url("./../../../../img/almendras.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 70vh;
}
.info-best-seller {
    padding: 1rem 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    color: black;
}
.info-best-seller button {
    width: 20%;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
.info-best-seller button:hover {
    box-shadow: 0 0 5px 1px black;
}
.inputBestSeller {
    width: 20rem;
    max-width: 20rem;
    padding: 0.5rem;
    min-height: 2rem;
    max-height: 5rem;
}
.inputBestSellerEdicion {
    width: 20rem;
    max-width: 20rem;
    padding: 0.5rem;
    min-height: 2rem;
    max-height: 5rem;
}
.inputBestSellerEdicionInfo {
    width: 20rem;
    max-width: 20rem;
    padding: 0.5rem;
    min-height: 5rem;
    max-height: 10rem;
}
.inputBestSellerInfo {
    width: 25rem;
    max-width: 25rem;
    padding: 0.5rem;
    min-height: 10rem;
    max-height: 10rem;
}
@media (max-width: 650px) {
    .info-best-seller h1 {
        margin: 0;
        font-size: 1.4rem;
    }
    .info-best-seller h3 {
        margin: 0;
        font-size: 1rem;
    }
    .info-best-seller p {
        margin: 0;
        font-size: 0.9rem;
    }
}
@media (max-width: 500px) {
    .info-best-seller h1 {
        font-size: 1.2rem;
    }
    .info-best-seller h3 {
        font-size: 0.8rem;
    }
    .info-best-seller p {
        font-size: 0.7rem;
    }
}
@media (max-width: 400px) {
    .info-best-seller h1 {
        font-size: 1.1rem;
    }
    .info-best-seller h3 {
        font-size: 0.7rem;
    }
    .info-best-seller p {
        font-size: 0.6rem;
    }
}
