.container-editar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    margin-bottom: 3rem;
}
.form-editar {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(202, 181, 181);
    padding: 1rem;
}
.form-editar h2 {
    color: white;
}
.form-editar input {
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
}
.form-editar textarea {
    width: 80%;
    min-height: 7rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
}
.form-editar button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
.form-editar button:hover {
    box-shadow: 0 0 5px 1px black;
}
