.testimonio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 2rem;
}
.cita {
    width: 20%;
}
.testimonio p {
    color: black;
    font-weight: bold;
}
