.container-counter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.counter {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
.counter button {
    width: 2rem;
    height: 2rem;
}
.container-agregar-counter {
    display: flex;
    justify-content: center;
}
