.scroll-to-top-button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 50;
}
.scroll-to-top-button img {
    width: 100%;
}
.scroll-to-top-button.visible {
    opacity: 1;
}
