.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 100vh;
    background-image: url("./../../../../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container-info-header {
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}
.container-info-header h1 {
    font-size: 4.5rem;
}
.inputHeaderEdicion {
    width: 20rem;
    max-width: 20rem;
    padding: 0.5rem;
    min-height: 5rem;
    max-height: 10rem;
}
.inputHeader {
    width: 20rem;
    max-width: 20rem;
    padding: 0.5rem;
    min-height: 5rem;
    max-height: 10rem;
}
.container-info-header button {
    width: 20%;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
.container-info-header button:hover {
    box-shadow: 0 0 5px 1px black;
}
