@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* font-family: 'Anton', sans-serif;  */
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root {
    --color--background-first-navbar: #025e73;
    --color--background-navbar: #2b2b35;
    --color--price: #f9ca63;
    --color--background--sepador--home: #2b2b35;
    --color--background--footer: #2b2b35;
}
.link {
    text-decoration: none;
    color: black;
}
p {
    font-family: "Poppins", sans-serif;
}
button {
    font-family: "Poppins", sans-serif;
}
label {
    font-family: "Poppins", sans-serif;
}
div {
    font-family: "Poppins", sans-serif;
}
a {
    font-family: "Poppins", sans-serif;
}
textarea {
    font-family: "Poppins", sans-serif;
}
h1 {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.2rem;
}
h2 {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.2rem;
}
h3 {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.1rem;
}
h4 {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.15rem;
}
h5 {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.1rem;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* animation: aparecer 0.5s ease forwards; */
