.container-carrito {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.container-cartas-carrito {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.container-carrito button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.container-carrito button:hover {
    box-shadow: 0 0 5px 1px grey;
}
.container-btns-cart {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
